.iu-dropdown
  max-width: 200px

  &__field
    border: 1px solid red
    padding: 4px
    cursor: pointer
    border-radius: 4px

  &__select-list
    border: 1px solid red
    border-top: none
    border-radius: 0 0 4px 4px
    padding: 4px

  &__select:hover
    background: #7fec83


.iu-dropdown.hover
  .iu-dropdown__select-list
    display: none

  &:hover
    .iu-dropdown__select-list
      display: block
