<div class="game-sea-battle">
  <div *ngIf="toggle; else field" class="options">
    <div class="main-control">
      <ui-button type="primary-danger" class="main-control-button" (click)="setDefault()">
        Сбросить
      </ui-button>
      <ui-button class="main-control-button" (click)="start()">
        Играть
      </ui-button>
    </div>
    <div class="options-wrapper">
      <!--Размер игровой сетки-->
      <div>
        <div class="label">
          Размер игровой сетки {{ options.field.name }}
        </div>
        <div class="button-row">
          <ui-button
            size="sm"
            class="players-button"
            *ngFor="let gameField of fieldOptions"
            (click)="setGameField(gameField)"
            [disabled]="options.field.value === gameField.value">
            {{ gameField.name }}
          </ui-button>
        </div>
      </div>
      <!--Пятипалубный корабль-->
      <sea-battle-ship [deckArr]="fiveDeckArr"
                       [deck]="options.fiveDeck"
                       [deckName]="'fiveDeck'"
                       [label]="'Пятипалубный корабль'"

                       (setNumberShips)="setNumberShips($event)">
      </sea-battle-ship>
      <!--Четырёхпалубный корабль-->
      <sea-battle-ship [deckArr]="fourDeckArr"
                       [deck]="options.fourDeck"
                       [deckName]="'fourDeck'"
                       [label]="'Четырёхпалубный корабль'"

                       (setNumberShips)="setNumberShips($event)">
      </sea-battle-ship>
      <!--Трехпалубный корабль-->
      <sea-battle-ship [deckArr]="threeDeckArr"
                       [deck]="options.threeDeck"
                       [deckName]="'threeDeck'"
                       [label]="'Трехпалубный корабль'"

                       (setNumberShips)="setNumberShips($event)">
      </sea-battle-ship>
      <!--Двухпалубный корабль-->
      <sea-battle-ship [deckArr]="twoDeckArr"
                       [deck]="options.twoDeck"
                       [deckName]="'twoDeck'"
                       [label]="'Двухпалубный корабль'"

                       (setNumberShips)="setNumberShips($event)">
      </sea-battle-ship>
      <!--Однопалубный корабль-->
      <sea-battle-ship [deckArr]="oneDeckArr"
                       [deck]="options.oneDeck"
                       [deckName]="'oneDeck'"
                       [label]="'Однопалубный корабль'"

                       (setNumberShips)="setNumberShips($event)">
      </sea-battle-ship>
    </div>
  </div>
  <ng-template #field>
    <sea-battle-field [seaGameOptions]="options"
                      (toggle)="toggle = !toggle"
                      (newGame)="newGame()">
    </sea-battle-field>
  </ng-template>
</div>
