<div class="ngxs">
  <p>NGXS - аналогия ngrx на инжектах + более локоничный код (PS NGRX RIP имхо)</p>
  <div>
    <p>Простой пример счетчика</p>
    <div class="ngxs__buttons">
      <ui-button class="ngxs__button" size="sm" (click)="increment()">increment</ui-button>
      <ui-button class="ngxs__button" size="sm" (click)="decrement()">decrement</ui-button>
      <ui-button class="ngxs__button" size="sm" (click)="clear()">clear</ui-button>
    </div>
    <p>{{ count$ | async }}</p>
    <p>date change :{{ changeDate$ | async | date: 'MMMM d, y, h:mm:ss a z'	 }}</p>
  </div>

</div>
