:host{
  top: 0;
  position: sticky;
}

.header {
  height: var(--header);
  padding: var(--main-padding);
  position: sticky;
  box-sizing: border-box;
  background: var(--primaryActive);

  .wrapper {
    margin: 0 auto;
    height: 100%;
    max-width: var(--max-width);
  }

  .navigate {
    gap: 16px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-item {
    color: var(--main);
    cursor: pointer;
    padding: 12px 8px;
    transition: .5s;
    border-radius: 4px;

    &:hover {
      background: var(--primaryHover);
    }

    &.active {
      color: var(--secondary);
      background: var(--primaryBack);
    }
  }
}
