<div class="home">
  <h1>Описание проекта: </h1>
  <p>В данном проекте содержаться учебные материалы и различные кусочки кода которые я написал когда учился или что то пробывал например:</p>
  <div class="home__data-pipe">
    <h3>Кастомная настройка даты при помощи pipe</h3>
    <div class="home__data-item">
      <div>фильтр сегодняшней даты (можно поменять инпутом снизу)</div>
      <div>{{ date | freshnessDate }}</div>
    </div>
    <div class="home__data-item">
      <div>фильтр вчерашней даты</div>
      <div>{{ dateOld | freshnessDate }}</div>
    </div>
    <div class="home__data-item">
      <div>фильтр даты 3 дня назад</div>
      <div>{{ oldWeek | freshnessDate }}</div>
    </div>
    <div class="home__data-item">
      <div>дата с настройка без фильтра</div>
      <div>{{ dateDefault }}</div>
    </div>
    <input (input)="changeData($event)" type="date" max = '{{ maxDate }}'>
  </div>
  <p> <span class="home__span-PS">PS: </span>
     в проекте нет идеи - чем то похвастать или показать как я "умею" и какой я "классный".
     Супер-решений тут тоже нет, оптимизация оставляет желать лучего, адаптивность - что это ?,
     код ужасен, орфографией не пахнет, дизай такое днище что Warcraft III: Reforged на его фоне
     гениальный перевыпуск серии! В действительности это просто песочница а не цельный проект!
    <br>
    <br>
    <i>С уважением, Ваш будущий сотрудник =)</i>
  </p>
</div>



