<div id="about-me" class="about-me">
  <h1>Несколько слов обо мне</h1>
  <div class="content">
    <div>
      С1995 года после окончания Ленинградского медицинского училища практикую
      различные виды массажа. Постоянно совершенствую свое мастерство
    </div>
    <div>
      1992-2003г. Преподавал шейпинг, аэробику и атлетическую гимнастику в спорт
      комплексе «Энергия»
    </div>
    <div>
      В сферу оздоровительного и лечебного массажа я пришел не сразу. Долгое время работал с коррекцией фигуры.
      Разрабатывал индивидуальные программы занятия физкультурой, питания. Делал корректирующий, аппаратный и обертывания
    </div>
    <div>
      В это время увлекся спортивным массажем по восстановлению после физических
      перегрузок и травм. В процессе работы появился запрос на лечебные виды
      массажа. Так я пришел к мануальной терапии, остеопатии и тейпированию
    </div>
    <div>
      На основе полученных знаний и опыта создал свою уникальную технику массажа.
      Совмещающую в себе все эти методы работы с телом человека
    </div>
  </div>
  <div class="insert">
    <ul class="insert-list">
      <li><b>Медицинский факт: массаж полезен зимой</b></li>
      <li>Массаж в холодное время года предотвращает возникновение приступов
          хронических болезней: именно зимой наблюдается замедление лимфотока
          и кровообращения, что ухудшает вывод продуктов распада из организма</li>
    </ul>
  </div>
  <b class="postscript">Идти на сеанс массажа следует через 1,5 часа после приема пищи</b>
</div>
