<div class="main-app"
     [class.darkTheme] = "theme === 'darkTheme'"
     [class.whiteTheme] = "theme === 'whiteTheme'">
  <header></header>
  <div class="content">
    <intro></intro>
    <about-me></about-me>
    <career-path></career-path>
    <education></education>
    <massage-types></massage-types>
    <video-presentation></video-presentation>
    <detail-description></detail-description>
    <reviews></reviews>
    <certificates></certificates>
    <contacts></contacts>
  </div>
  <footer></footer>
</div>
