<div class="main-app"
     [class.darkTheme] = "theme === 'darkTheme'"
     [class.whiteTheme] = "theme === 'whiteTheme'">
  <header [theme] = "theme" (changeTheme) = changeTheme($event)></header>
  <div class="content">
    <intro id="main"></intro>
    <about-me id="about-me"></about-me>
    <career-path id="career-path"></career-path>
    <education id="education"></education>
    <massage-types id="massage-types"></massage-types>
    <indications-massage id="indications-massage"></indications-massage>
    <contraindications-massage id="massage-contraindications"></contraindications-massage>
    <contacts id="contacts"></contacts>
  </div>
  <footer></footer>
</div>
