.main-app {
  position: relative;
  --header: 60px;
  --main-padding: 8px;
  --max-width: 1280px;

  .content {
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    max-width: var(--max-width);
  }

  &.darkTheme {
    --main: #350c15; // 1
    --secondary: #872a27; // 2
    --primaryActive: #08d4ff; // 3
    --primaryHover: #0efff9; // 4
    --primaryBack: #51fff8; // 5
  }

  &.whiteTheme {
    --mainColor: green;
  }

}
