.main-app {
  --header: 60px;
  --main-padding: 8px;
  --max-width: 1280px;

  position: relative;
  background: var(--background);

  .content {
    min-height: calc(100vh - 120px);
  }

  &.whiteTheme {
    // https://mybrandnewlogo.com/ru/generator-cvetovoi-palitry
    --main: #350c15; // 1
    --secondary: #872a27; // 2
    --primaryActive: #DDFFE7; // 3
    --primaryHover: #98D7C2; // 4
    --primaryBack:  #167D7F; // 5
    --background: #f8f8f8; // основной фон сайта
    --antipodColor: #271920;
  }

  &.darkTheme {
    --main: #06060e; // 1
    --secondary: #271920; // 2
    --primaryActive: #625658; // 3
    --primaryHover: #9e9a99; // 4
    --primaryBack: #c4c2c5; // 5
    --background: #bbbbbb; // основной фон сайта
    --antipodColor: #08d4ff;
  }

}
