.btn
  color: #fff
  border-radius: 6px
  &:disabled
    background: lightsteelblue
    box-shadow: none
    border-color: lightsteelblue
    &:hover
      background: lightsteelblue
      box-shadow: none

.primary-success
  border-color: #3498db
  transition: all 150ms ease-in-out
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db
  -webkit-transition: all 150ms ease-in-out
  &:hover
    background: #439fe2
    box-shadow: 0 0 5px 0 #3498db inset, 0 0 5px 2px #3498db

.primary-danger
  border-color: #db3434
  transition: all 150ms ease-in-out
  box-shadow: 0 0 40px 40px #db343a inset, 0 0 0 0 #db3434
  -webkit-transition: all 150ms ease-in-out
  &:hover
    background: #e24350
    box-shadow: 0 0 5px 0 #db343a inset, 0 0 5px 2px #db3434

.xs
  height: 24px
  width: 100px

.sm
  height: 32px
  width: 100px

.md
  height: 50px
  width: 120px

.xl
  height: 50px
  width: 160px
