<button class="ui-button"
        [class.ui-button--size_xs] = "size === 'xs'"
        [class.ui-button--size_sm] = "size === 'sm'"
        [class.ui-button--size_lg] = "size === 'lg'"
        [class.ui-button--size_xl] = "size === 'xl'"

        [class.ui-button--primary-success] = "type === 'primary-success'"
        [class.ui-button--primary-danger] = "type === 'primary-danger'"
        [class.ui-button--primary-menu] = "type === 'primary-menu'"

        [class.active]="active"

        [class.ui-button--fit-content]="fitContent"

        [disabled] = disabled>
  <ng-content></ng-content>
</button>
