@use '../ui-color-scheme-variables' as colors

.ui-button
    color: colors.$mainWhite
    cursor: pointer
    width: 100%
    border-radius: 6px
    &:disabled
      border: 1px solid colors.$mutedColor
      cursor: auto
      background: colors.$mutedColor
      box-shadow: none
      &:hover
        background: colors.$mutedColor
        box-shadow: none

    // colors
    &--primary-success
      border: 1px solid colors.$primarySuccess
      box-shadow: 0 0 40px 40px colors.$primarySuccess inset, 0 0 0 0 colors.$primarySuccess
      transition: all 150ms ease-in-out
      -webkit-transition: all 150ms ease-in-out
      &:hover
        background: colors.$hoverPrimarySuccess
        box-shadow: 0 0 5px 0 colors.$primarySuccess inset, 0 0 5px 2px colors.$primarySuccess

    &--primary-danger
      border: 1px solid colors.$primaryDanger
      box-shadow: 0 0 40px 40px colors.$primaryDanger inset, 0 0 0 0 colors.$primaryDanger
      transition: all 150ms ease-in-out
      -webkit-transition: all 150ms ease-in-out
      &:hover
        background: colors.$hoverPrimaryDanger
        box-shadow: 0 0 5px 0 colors.$primaryDanger inset, 0 0 5px 2px colors.$primaryDanger

    // sizes
    &--size_xs
      height: 24px

    &--size_sm
      height: 32px

    &--size_md
      height: 40px

    &--size_lg
      height: 50px

    &--size_xl
      height: 60px
