<div class="indications-massage">
  <h1>Показания к массажу</h1>
  <div class="wrapper">
    <h3 class="title"> Перечень показаний к массажу включает большое количество болезней и
      состояний, которые эффективно лечатся мануальным воздействием.
    </h3>
    <ul class="indications-list">
      <li> - Боли в спине, шее, пояснице;</li>
      <li> - Головные боли, мигрени;</li>
      <li> - Остеохондроз различных отделов позвоночника;</li>
      <li> - Радикулиты, невралгии, невриты, полиневриты;</li>
      <li> - Грыжи и протрузии межпозвоночных дисков;</li>
      <li> - Артриты, миалгии, миозиты;</li>
      <li> - Артрозы, плечелопаточный периартроз;</li>
      <li> - Сколиозы, кифозы и лордозы любой степени;</li>
      <li> - Мышечная гипотония;</li>
      <li> - Болезни, травмы опорно-двигательного аппарата;</li>
      <li> - Ушибы, растяжения связок, мышц и сухожилий;</li>
      <li> - Период адаптации после перелома и вывиха;</li>
      <li> - Воспалительные, дистрофические процессы в суставах;</li>
      <li> - Артериальная гипертензия(гипертония);</li>
      <li> - Артериальная гипотония;</li>
      <li> - Перенесенный инсульт;</li>
      <li> - Гипотериоз;</li>
      <li> - Стенокардия в межприступный период;</li>
      <li> - Ишемическая болезнь сердца;</li>
      <li> - Хроническая недостаточность сердечной мышцы 1 и 2 степени;</li>
      <li> - Реабилитационный период после инфаркта миокарда;</li>
      <li> - Параличи, парезы;</li>
      <li> - Заболевания артерий и вен;</li>
      <li> - Хронические заболевания верхних дыхательных путей вне фазы обострения;</li>
      <li> - Хронические бронхиты, пневмонии в период выздоровления;</li>
      <li> - Бронхиальная астма вне стадии обострения;</li>
      <li> - Снижение иммунитета;</li>
      <li> - Нарушение процесса обмена веществ;</li>
      <li> - Нарушение работы системы пищеварения;</li>
      <li> - Заболевания пищеварительных органов вне фазы обострения;</li>
      <li> - Ожирение;</li>
      <li> - Подагра;</li>
      <li> - Сахарный диабет;</li>
      <li> - Синдром хронической усталости;</li>
      <li> - Профилактика различных заболеваний и поддержание тонуса организма;</li>
      <li> - Физическое, нервное переутомление;</li>
    </ul>
  </div>
</div>
