<div class="indications-massage">
  <h1>Показания к массажу</h1>
  <div>
    Показания к массажу
    Перечень показаний к массажу включает большое количество болезней и
    состояний, которые эффективно лечатся мануальным воздействием.
    
    - Боли в спине, шее, пояснице;
    
    - Головные боли, мигрени;
    
    - Остеохондроз различных отделов позвоночника;
    
    - Радикулиты, невралгии, невриты, полиневриты;
    
    - Грыжи и протрузии межпозвоночных дисков;
    
    - Артриты, миалгии, миозиты;
    
    - Артрозы, плечелопаточный периартроз;
    
    - Сколиозы, кифозы и лордозы любой степени;
    
    - Мышечная гипотония;
    
    - Болезни, травмы опорно-двигательного аппарата;
    
    - Ушибы, растяжения связок, мышц и сухожилий;
    
    - Период адаптации после перелома и вывиха;
    
    - Воспалительные, дистрофические процессы в суставах;
    
    - Артериальная гипертензия(гипертония);
    
    - Артериальная гипотония;
    
    - Перенесенный инсульт;
    
    - Гипотериоз;
    
    - Стенокардия в межприступный период;
    
    - Ишемическая болезнь сердца;
    
    - Хроническая недостаточность сердечной мышцы 1 и 2 степени;
    
    - Реабилитационный период после инфаркта миокарда;
    
    - Параличи, парезы;
    
    - Заболевания артерий и вен;
    
    - Хронические заболевания верхних дыхательных путей вне фазы
    обострения;
    
    - Хронические бронхиты, пневмонии в период выздоровления;
    
    - Бронхиальная астма вне стадии обострения;
    
    - Снижение иммунитета;
    
    - Нарушение процесса обмена веществ;
    
    - Нарушение работы системы пищеварения;
    
    - Заболевания пищеварительных органов вне фазы обострения;
    
    - Ожирение;
    
    - Подагра;
    
    - Сахарный диабет;
    
    - Синдром хронической усталости;
    
    - Профилактика различных заболеваний и поддержание тонуса организма;
    
    - Физическое, нервное переутомление.
    .
  </div>
</div>
