@use "./assets/mixin/mixin" as mixin;

.career-path {
  margin-top: 16px;
  background: var(--primaryActive);
  padding-bottom: 16px;


  .center-box {
    @include mixin.scroll-padding;
    @include mixin.title;
    @include mixin.center-content;
  }

  .content-box {
    gap: 16px;
    display: flex;
    justify-content: space-between;
  }

  .content {
    gap: 8px;
    display: flex;
    flex-direction: column;
  }

  .career-image {
    flex: 1;
    background: url("../../../assets/img/career.jpg") no-repeat ;
    border-radius: 12px;
  }

  .career-item {
    border: 2px solid var(--secondary);
    padding: 16px;
    font-size: 18px;
    border-radius: 8px;

  }
}

