<div class="form-example">
  <div class="form-example__nav">
    <ui-button class="form-example__button" size="sm" (click)="changeForm()">{{ buttonName }}</ui-button>
    <div class="form-example__paginate-wrapper">
      <ui-button class="form-example__paginate"
                 size="sm"
                 (click)="changeForm(i)"
                 *ngFor="let button of buttonOptions; let i = index"
                 [disabled]="buttonName===buttonOptions[i]"
      >{{ i + 1 }}
      </ui-button>
    </div>
  </div>
  <ui-panel>
    <app-angular-example-form *ngIf="buttonName===buttonOptions[0]"></app-angular-example-form>
    <app-search-field-example *ngIf="buttonName===buttonOptions[1]"></app-search-field-example>
    <div *ngIf="buttonName===buttonOptions[2]">Другой элемент (3 страница)</div>
  </ui-panel>
</div>
