<div class="access-dom">
  <div>
    <p>Работа с DOM элементами через ID и передача его в событие</p>
    <div class="access-dom__control">
      <input type="text" #inputDomElement>
      <ui-button [size]="'sm'" (click)="workDomElement(inputDomElement)">Передать ссылку на элемент через ID</ui-button>
    </div>
  </div>
  <hr/>
  <div>
    <p>Работа с DOM элементами через ID и ViewChild</p>
    <div class="access-dom__control">
      <input type="text" #inputViewChild>
      <ui-button [size]="'sm'" (click)="workDomViewChild()">Передать ссылку на элемент через ViewChild</ui-button>
    </div>
  </div>
  <hr/>
  <div>
    PS: Скрипт элементов с инпутами выводиться в консоль
  </div>
  <hr/>
  <div>
    <p>передача данных через ng-content + select</p>
    <app-item-data-transfer-example>
      <p #paragraphElement paragraphElement>Передача строки и переменной - {{ transfer }}</p>
      <div divElement>меня вывели при помощи ID</div>
    </app-item-data-transfer-example>
  </div>
  <hr/>
</div>
