<div>
  <ui-button (click)="onCreateGame()">
    START
  </ui-button>

  <div>
    {{ heroList$ | async | json }}
  </div>

  <ui-dropdown label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown [type]="DDtype" label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown [type]="DDtypeHover" label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
</div>
