<div>
  <ui-button (click)="onCreateGame()">
    START
  </ui-button>

  <div>
    {{ heroList$ | async | json }}
  </div>
  'xs' | 'sm' | 'lg' | 'xl'
  <ui-dropdown size="xs" label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown size="sm" [type]="DDtype" label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown size="lg" label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
  <ui-dropdown size="xl" label="123 : " [options]="iitesm" (itemSelected)="itemSelected($event)" ></ui-dropdown>
</div>
