@use 'src/app/shared/ui-components/ui-color-scheme-variables' as colors
@use '../../shared/mixin/scroll-bar.mixin' as scrollbar

.hero-battle-options
  .options
    height: 50vh
    padding: 8px
    margin: 12px
    overflow: auto
    box-sizing: border-box
    background: colors.$grey80
    border-radius: 12px
    scroll-snap-type: x proximity

  .result-stats
    height: 200px
    background: colors.$white800

  .action
    gap: 12px
    display: flex
    margin-top: 12px

    ui-button
      flex: 1

@include scrollbar.game-scroll-bar


