@use 'src/app/shared/ui-components/ui-color-scheme-variables' as colors

.hero-battle-options
  .options
    padding: 8px
    margin: 12px
    min-height: 80%
    background: colors.$grey80
    border-radius: 12px

  .result-stats
    height: 200px
    background: red
