<div class="game-field">
  <div class="game-field__nav">
    <ui-button [size]="'xs'" class="game-field__button" (click)="back()">Назад</ui-button>
    <ui-button [size]="'xs'" class="game-field__button" (click)="start()">Запустить</ui-button>
  </div>
  <div class="game-field__field">
    <div class="game-field__row" *ngFor="let row of field; let isFirst = first">
      <div class="game-field__cell"
           *ngFor="let cell of row; let isLast = last"
           [class.last] = "isLast"
           [class.first-row] = "isFirst">
      </div>
    </div>
  </div>
</div>
