/* You can add global styles to this file, and also import other style files */
.navbar-default{
  background-color: #c4c2c2;
}
.navbar-right{
  text-align: right;
}
.pull-right{
  padding-top: 15%;
  float: right;
  width: 25%;
}
.pull-left{
  float: left;
  width: 75%;
}
