.drag-and-drop-api
  padding: 0
  display: flex
  box-sizing: border-box
  min-height: 70vh
  background: var(--crl)
  font-family: 'Poppins', sans-serif
  align-items: center
  flex-direction: column
  justify-content: center
  margin-bottom: 12px

  .draggable-box
    height: 200px
    padding: 12px

  .wrapper
    gap: 12px
    width: 720px
    display: flex
    flex-wrap: wrap


  .drop-zone
    width: 200px
    height: 200px
    border: 16px dashed #797dde
    display: flex
    background: #cbccd7
    align-items: center
    justify-content: center

  .drop-zone-over
    opacity: .5
    background: green

  #draggableElementID
    width: 150px
    height: 150px
    background: #df8080
    border-radius: 24px
