<div class="drag-and-drop-api">
  <div class="wrapper">
    <div *ngFor="let dropZone of dropZoneArr"
         (dragover)="dragOver($event)"
         (dragleave)="dragLeave($event)"
         (drop)="dragDrop($event)"
         [class]="'drop-zone'"></div>
  </div>
  <div class="draggable-box">
    <div *ngFor="let dragElement of dragElementArr"
         class="draggableElement"
         data-id = "draggableElement"
         draggable="true"
         (dragstart) = dragStart($event)>
      {{ dragElement }}
    </div>
  </div>
</div>
