@mixin scroll-padding {
  padding-top: var(--header);
}

@mixin center-content {
  margin: 0 auto;
  max-width: var(--max-width);
}

@mixin title {
  h1 {
    color: var(--main);
    text-transform: uppercase;
    padding-bottom: 12px;
  }
}
