<div class="algorithms">
  <div class="algorithms__title">Примеры популярных алгоритмов и их реализация</div>
  <div class="algorithms__cards">
    <!-- вынести в отдельную карточку -->
    <div class="algorithms__card" [class.open] = "open === 'linearSearchBuffer'" >
      <div class="algorithms__card-title" (click)="open = 'linearSearchBuffer'">Линейный поиск</div>
      <div class="algorithms__card-body">
        <pre>
      {{ linearSearch }}
        </pre>
        <button [disabled]="state.linearSearchBuffer.result" (click)="algorithmWrapper('linearSearchBuffer')">
          Выполнить
        </button>
        <button [disabled]="!state.linearSearchBuffer.result" (click)="clear('linearSearchBuffer')">
          Очистить
        </button>
        <div>
          <div>Число оперций {{ state.linearSearchBuffer.count }}</div>
          <div>Возвращенное значение {{ state.linearSearchBuffer.result }}</div>
          <div>Время выполнения {{ state.linearSearchBuffer.time }} (мс)</div>
        </div>
      </div>
    </div>

    <div class="algorithms__card" [class.open] = "open === 'linearSearchBuffer2'" >
      <div class="algorithms__card-title" (click)="open = 'linearSearchBuffer2'">Линейный поиск 2</div>
      <div class="algorithms__card-body">
        <pre>
          {{ linearSearch }}
        </pre>
        <button [disabled]="state.linearSearchBuffer.result" (click)="algorithmWrapper('linearSearchBuffer2')">
          Выполнить
        </button>
        <button [disabled]="!state.linearSearchBuffer.result" (click)="clear('linearSearchBuffer2')">
          Очистить
        </button>
        <div>
          <div>Число оперций {{ state.linearSearchBuffer.count }}</div>
          <div>Возвращенное значение {{ state.linearSearchBuffer.result }}</div>
          <div>Время выполнения {{ state.linearSearchBuffer.time }} (мс)</div>
        </div>
      </div>
    </div>

    <div class="algorithms__card" [class.open] = "open === 'linearSearchBuffer3'" >
      <div class="algorithms__card-title" (click)="open = 'linearSearchBuffer3'">Линейный поиск 3</div>
      <div class="algorithms__card-body">
        <pre>
          {{ linearSearch }}
        </pre>
        <button [disabled]="state.linearSearchBuffer.result" (click)="algorithmWrapper('linearSearchBuffer3')">
          Выполнить
        </button>
        <button [disabled]="!state.linearSearchBuffer.result" (click)="clear('linearSearchBuffer3')">
          Очистить
        </button>
        <div>
          <div>Число оперций {{ state.linearSearchBuffer.count }}</div>
          <div>Возвращенное значение {{ state.linearSearchBuffer.result }}</div>
          <div>Время выполнения {{ state.linearSearchBuffer.time }} (мс)</div>
        </div>
      </div>
    </div>
  </div>
</div>
