$mainWhite: #fff
$mainBlack: #000

$mainBlackTransparent: #00000099

$mutedColor: #c1c1c1

$primarySuccess: #3498db
$hoverPrimarySuccess: #439fe2
$activePrimarySuccess: #598bab

$primaryDanger: #db3434
$hoverPrimaryDanger: #e24350

$primaryMenu: #ffe4c4
$hoverPrimaryMenu: #00ffff

$backgroundMain: #f5f5f5
$backgroundMainLight: #fff8ef

$primaryDanger: #ff1328

$grey: #242629
$grey800: #505154
$grey640: #737476
$grey400: #a7a8a9
$grey200: #d3d4d4
$grey120: #e5e5e5
$grey80: #edeeee
$grey40: #f6f6f6

$red: #ff6a59
$red800: #ff887a
$red640: #ffa095
$red400: #ffc3bd
$red200: #ffe1de
$red120: #ffedeb
$red80: #fff3f2
$red40: #fff9f8

$red640d: #733e3a
$red400d: #a74f46
$red200d: #d35c4f

$orange: #f6a623
$orange800: #f8b84f
$orange640: #f9c672
$orange400: #fbdba7
$orange200: #fdedd3
$orange120: #fef4e5
$orange80: #fef8ed
$orange40: #fffbf6

$orange640d: #705427
$orange400d: #a27325
$orange200d: #cc8c24


$green: #53b374
$green800: #75c290
$green640: #91cea6
$green400: #bae1c7
$green200: #ddf0e3
$green120: #eaf6ee
$green80: #f1f9f4
$green40: #f8fcf9

$green640d: #355944
$green400d: #407b56
$green200d: #4a9765


$blue: #3a82c6

$white: #ffffff
$white800: #d3d4d4
$white640: #b0b1b2
$white400: #7c7d7f
$white200: #505154
$white120: #3e4043
$white80: #36373a
$white40: #2d2f32

$bg-base: $grey40
$bg-disabled: $grey80
$bg-hover: $grey120
$bg-secondary: $grey640
$bg-normal: $grey
$bg-danger: $red
$bg-warning: $orange
$bg-success: $green
