<p myColor>
  directive работа со стилями
</p>

<div myEvent>
  directive работа с эвентами
</div>

<div>
  <h4>Аргументы в директиву:</h4>
  <div style="padding: 0 0 0 50px">
    <p [myColorChangeArguments]="'red'" >Передача аргумента в директиву</p>
    <p [myColorChangeArguments]="blue">Передача аргумента в директиву</p>
  </div>
</div>

<div>
  <h4>Работа с шаблоном</h4>
  <div style="padding: 0 0 0 50px">
    <p myRepeat [message]="'4 повторения'" [count]=4></p>
    <myRepeat [message]="'3 повторения'" [count]=3></myRepeat>
  </div>
</div>

<div>
  <h4>Работа с событиями</h4>
  <div style="padding: 0 0 0 50px">
    <h3>Форма редактирования записи</h3>
    <button [myConfirm]="onDelete" >Удалить запись</button>
  </div>
</div>

<div>
  <h4>Работа с передачей события в директиву</h4>
  <div myCoords style="padding: 0 0 0 50px; background-color: antiquewhite; width: 300px; height: 300px">
  </div>
</div>

<div>
  <h4>Замена и применение стилей директивой</h4>
  <p myClickableElement >Нажать</p>
  <div myClickableElement>Нажать</div>
</div>
