.card-content{
  height: 130px;
}
.card-action{
  padding: 20px 15%;
}
.marked{
  font-weight: bold;
  color: red !important;
}

.hovered{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: .5s all;
  z-index: 10;
}
