.first{
  font-size: 30px;
}
.last{
  font-size: 40px;
}
.even{
  color: #011772;
}
.odd{
  color: #233903;
}
.space{
  margin-bottom: 50px;
}
.class{
  color: red;
}
.class2{
  color: yellow;
}
.invisible{
  display: none;
}
