<div class="massage-contraindications">
  <h1>Противопоказания к массажу</h1>
  <div>
    <div class="intro">
      <div>Противопоказания к массажу делятся на абсолютные, временные и локальные.</div>
      <div>При абсолютных противопоказаниях массаж полностью запрещен, а временные действуют до избавления от проблемы.</div>
      <div>При локальных противопоказаниях можно проводить массаж, но нужно избегать определенных участков тела.</div>
    </div>

    <div class="infoBlock">
      <h3>Временные противопоказания к массажу</h3>
      <div class="text">
        В некоторых ситуациях пациенту не требуется полностью отказываться от
        массажа, достаточно перенести сеанс на более благоприятное время.Это
        касается следующих случаев:
      </div>
      <ul class="contraindications-list">
        <li> - Болезни кожи, в том числе аллергические и грибковые проявления</li>
        <li> - Кровотечения (в том числе носовое) и повышенная температура тела</li>
        <li> - Нестабильность артериального давления и сердечные боли</li>
        <li> - Беременность (для общего массажа, и лечебного массажа спины)</li>
        <li> - Инфекционные заболевания в стадии обострения</li>
        <li> - Свежая татуировка в области массажа</li>
        <li> - Первые несколько дней менструального цикла</li>
        <li> - Период сразу после перенесенного ОРВИ и гриппа.Необходимо подождать 3-7 дней, чтобы организм успел восстановиться</li>
        <li> - Алкогольное опьянение — при нем массаж становится не только неэффективным(из-за сниженного гуморального ответа), но и приводит к атипичной сосудистой реакции(возникает риск резкого перепада давления).</li>
      </ul>
    </div>

    <div class="infoBlock">
      <h3>Абсолютные противопоказания</h3>
      <div class="text">
        При противопоказаниях из списка ниже, массаж вреден, так как он усиливает
        кровообращение и лимфоток, что только навредит организму. Табу на массаж:
      </div>
      <ul class="contraindications-list">
        <li> - Грипп, ОРВИ, ангина, любые острые воспалительные процессы</li>
        <li> - Болезни крови, внутренние кровотечения</li>
        <li> - Злокачественные новообразования и опухоли</li>
        <li> - Гнойные процессы любой локализации</li>
        <li> - Цинга</li>
        <li> - Остеомиелит</li>
        <li> - Осложненные формы варикозного расширения вен: тромбоз, тромбофлебиты и трофические язвы, любые острые воспаления кровеносных и лимфатических сосудов</li>
        <li> - Аневризма аорты и сердца, острая ишемия миокарда</li>
        <li> - Легочно-сердечная недостаточность третьей степени</li>
        <li> - Гипер- и гипотонический криз</li>
        <li> - Заболевания органов брюшной полости с наклонностью к кровотечениям</li>
        <li> - Активная форма туберкулеза</li>
        <li> - Почечная и печеночная недостаточность</li>
        <li> - Венерические заболевания</li>
        <li> - Психические заболевания с чрезмерным возбуждением и значительно измененной психикой</li>
       </ul>
    </div>

    <div class="infoBlock">
      <h3>Локальные противопоказания</h3>
      <div class="text">
        При противопоказаниях из этого списка, массаж делать можно, но нужно избегать
        определенной области:
      </div>
      <ul class="contraindications-list">
        <li> - Ссадины, аллергические высыпания и раны, свежие татуировки</li>
        <li> - Родинки, невусы и бородавки. Массаж разрешен на участках, где родинки не выступают над поверхностью кожи, то есть не задевая их. Если родинки крупные, находятся по всему телу, и их невозможно обойти при массаже, то эту особенность относят уже к абсолютному противопоказанию</li>
        <li> - Менструальный цикл. Массажист избегает воздействия на зону живота, а в первые несколько дней воздействия на поясницу</li>
      </ul>
      <div class="text">
        Локальные противопоказания при острых и хронических болезнях:
      </div>
      <ul class="contraindications-list">
        <li> - Грыжа. Коррекция пупочной грыжи с помощью массажа допускается только у грудных детей — у взрослых она удаляется хирургически</li>
        <li> - Камни в желчном пузыре, печени и почках. В таком случае запрещен массаж в области живота</li>
        <li> - Заболевания молочных желез. Массирование этого участка тела строго запрещается, в том числе при мастопатии.</li>
        <li> - Псориаз. Запрещается воздействовать на псориатические высыпания, так как их количество может увеличиться</li>
        <li> - Эндоартериит. Из мест воздействия исключают стопы и область ниже колена: сужение кровеносных сосудов может привести к отмиранию тканей из-за усиления кровотока</li>
        <li> - Трофические язвы. Мягкий массаж допускается на ранних стадиях болезни. При склеротизации периферических сосудов воздействие на стопы с язвами не выполняется</li>
        <li> - Беременность, недавние роды (до 2 мес) или недавно перенесенный аборт – противопоказания для массажа живота</li>
        <li> - Доброкачественные опухоли. При новообразованиях репродуктивной сферы (аденома простаты, миома матки, киста яичников), необходимо избегать зоны животы и поясницы. Ограничения сохраняются и после удаления новообразований, специалист будет избегать зоны, где было проведено хирургическое вмешательство.</li>
      </ul>
    </div>
  </div>
</div>
