<div class="glowing-button">
  <a href="#" style="--clr:#1e9bff" class="glowing-button__href">
    <span class="glowing-button__span">Button</span>
    <i class="glowing-button__i-decorator"></i>
  </a>
  <a href="#" style="--clr:#ff1867" class="glowing-button__href">
    <span class="glowing-button__span">Button</span>
    <i class="glowing-button__i-decorator"></i>
  </a>
  <a href="#" style="--clr:#6eff3e" class="glowing-button__href">
    <span class="glowing-button__span">Button</span>
    <i class="glowing-button__i-decorator"></i>
  </a>
</div>
