<div class="algorithms__card" [class.open] = "open === algorithmName" >
  <div class="algorithms__card-title" (click)="emit(openCardEmit)">{{ algorithmState.name }}</div>
  <div class="algorithms__card-body">
    <pre>
       <ng-content></ng-content>
    </pre>
    <div class="algorithms__buttons">
      <app-ui-button class="algorithms__button" [disabled]="!!algorithmState.result" (click)="emit(algorithmWrapperEmit)">
        Выполнить
      </app-ui-button>
      <app-ui-button class="algorithms__button" [type]="buttonType" [disabled]="!algorithmState.result" (click)="emit(clearEmit)">
        Очистить
      </app-ui-button>
    </div>
    <div>
      <div>Число оперций {{ algorithmState.count }}</div>
      <div>Искомый объект {{ algorithmState.successfulSearch }} </div>
      <div>Время выполнения {{ algorithmState.time }} (мс)</div>
      <div>Возвращенное значение {{ algorithmState.result }}</div>
    </div>
  </div>
</div>
