<div class="algorithms">
  <div class="algorithms__title">Примеры популярных алгоритмов и их реализация</div>
  <form class="algorithms__form" [formGroup] = "form">
    <div class="algorithms__fieldBox">
      <label for="formLength">Длинна массива (не более 8 символов)</label>
      <input id="formLength"  class="algorithms__field" formControlName = length type="number" oninput="if(value.length>8) value=value.slice(0,8)">
    </div>
  </form>
  <div class="algorithms__cards">

    <algorithm-example
      [open] = open
      [algorithmName] = "'linearSearchBuffer'"
      [algorithmState] = "state['linearSearchBuffer']"
      (algorithmWrapperEmit) = algorithmWrapper($event);
      (clearEmit) = clear($event);
      (openCardEmit)="openCard($event)"
    >{{ linearSearch }}
      <div>Длинна массива {{ this.form.get('length').value }} элементов</div>
    </algorithm-example>

    <algorithm-example
      [open] = open
      [algorithmName] = "'binarySearch'"
      [algorithmState] = "state['binarySearch']"
      (algorithmWrapperEmit) = algorithmWrapper($event);
      (clearEmit) = clear($event);
      (openCardEmit)="openCard($event)"
    >{{ binarySearch }}
      <div>Длинна массива {{ this.form.get('length').value }} элементов</div>
    </algorithm-example>

    <algorithm-example
      [open] = open
      [algorithmName] = "'selectionSort'"
      [algorithmState] = "state['selectionSort']"
      (algorithmWrapperEmit) = algorithmWrapper($event);
      (clearEmit) = clear($event);
      (openCardEmit)="openCard($event)"
    >{{ selectionSort }}
      <div>Длинна массива {{ this.form.get('length').value }} элементов</div>
    </algorithm-example>
  </div>
</div>
