<div class="functions">
  <div class="functions__buttons">
    <ui-button class="functions__button"
               routerLink = "algorithms"
               (click)="active = 'algorithms'"
               [disabled]="active === 'algorithms'"
    >Алгоритмы</ui-button>
    <ui-button class="functions__button"
               routerLink = "examples"
               (click)="active = 'examples'"
               [disabled]="active === 'examples'"
    >Примеры функций</ui-button>
  </div>
  <router-outlet></router-outlet>
</div>
