<div>
  <h1>Routes</h1>
  <router-outlet>
    <nav>
      <a routerLink="">Главная</a>
      <a routerLink="/about">О нас</a>
      <a routerLink="/news">Новости</a>
      <a routerLink="/date">Дата</a>
    </nav>
  </router-outlet>
  User name: <input type="text" [(ngModel)]="userName">
  <button (click)="search()">Search</button>
  <div *ngIf="response">
    <img src="{{response.avatar_url}}" alt="">
    <p>Имя: {{response.login}}</p>
    <p>Дата создания: {{response.created_at}}</p>
    <!--Смотреть описание Api (гит хаб апи) или консоль что приходит в ответе от сервера-->
  </div>
</div>
