<div class="game-life">
  <form [formGroup]="formGroup">
    <ui-input
      [label]="fieldLabel"
      [type]="typeNumber"
      [field]="$any(formGroup.controls.field)">
    </ui-input>
    <ui-input
      [label]="lifeRuleLabel"
      [type]="typeNumber"
      [field]="$any(formGroup.controls.lifeRule)">
    </ui-input>
    <ui-input
      [label]="deadRuleLabel"
      [type]="typeNumber"
      [field]="$any(formGroup.controls.dueRule)">
    </ui-input>
    <ui-button (click)="openGameField()">Создать</ui-button>
  </form>
</div>
