<div class="animated-vertical-menu">
  <div class="animated-vertical-menu__menu">
    <ul class="animated-vertical-menu__list">
      <li class="animated-vertical-menu__item"
          *ngFor="let item of menuItems; let i = index"
          [class.active] = "active === i"
          (click)="active = i">
        <a class="animated-vertical-menu__href" href="javascript:void(0)">
         <span class="special-navigation-menu__icon">
            <mat-icon>{{ item.icon }}</mat-icon>
        </span>
          <span class="animated-vertical-menu__title">
          {{ item.name }}
        </span>
        </a>
      </li>
    </ul>
  </div>
</div>
