<div class="special-navigation-menu">
  <div class="special-navigation-menu__navigation">
    <ul class="special-navigation-menu__list">
      <li  class="special-navigation-menu__item"
           *ngFor="let item of menuItems; let i = index"
           [class.active] = "active === i"
           (click)="active = i"
      >
        <a class="special-navigation-menu__href" href="javascript:void(0)">
          <span class="special-navigation-menu__icon">
            <mat-icon>{{ item.icon }}</mat-icon>
          </span>
          <span class="special-navigation-menu__text">{{ item.name }}</span>
        </a>
      </li>
      <div class="special-navigation-menu__indicator"></div>
    </ul>
  </div>
</div>
