<div class="special-navigation-menu">
  <div class="special-navigation-menu__navigation">
    <ul class="special-navigation-menu__list">
      <li class="special-navigation-menu__item">
        <a class="special-navigation-menu__href" href="#">
          <span class="special-navigation-menu__icon">
            <mat-icon>home_outline</mat-icon>
          </span>
          <span class="special-navigation-menu__text">Домой</span>
        </a>
      </li>
      <li class="special-navigation-menu__item">
        <a class="special-navigation-menu__href" href="#">
          <span class="special-navigation-menu__icon">
             <mat-icon>person</mat-icon>
          </span>
          <span class="special-navigation-menu__text">Профиль</span>
        </a>
      </li>
      <li class="special-navigation-menu__item">
        <a class="special-navigation-menu__href" href="#">
          <span class="special-navigation-menu__icon">
            <mat-icon>mail</mat-icon>
          </span>
          <span class="special-navigation-menu__text">Сообщения</span>
        </a>
      </li>
      <li class="special-navigation-menu__item">
        <a class="special-navigation-menu__href" href="#">
          <span class="special-navigation-menu__icon">
             <mat-icon>portrait</mat-icon>
          </span>
          <span class="special-navigation-menu__text">Фотографии</span>
        </a>
      </li>
      <li class="special-navigation-menu__item">
        <a class="special-navigation-menu__href" href="#">
          <span class="special-navigation-menu__icon">
            <mat-icon>settings</mat-icon>
          </span>
          <span class="special-navigation-menu__text">Настройки</span>
        </a>
      </li>
    </ul>
  </div>
</div>
