@use 'src/app/shared/ui-components/ui-color-scheme-variables' as colors

.hero-select-step
  .label
    font-size: 20px

  .select-item
    gap: 16px
    cursor: pointer
    border: 1px solid colors.$white400
    display: flex
    padding: 12px
    background: white
    box-sizing: border-box
    border-radius: 6px

  .select-box
    gap: 8px
    display: flex
    position: relative
    margin-top: 12px
    flex-direction: column

    .selected
      border: 1px dotted colors.$green
      transition: 0.8s
      background: colors.$white640

  .hero-img
    width: 100px
    height: 100px
    border: 1px solid colors.$green400d
    border-radius: 6px

  .hero-type
    font-size: 24px
    margin-bottom: 12px

  .hero-description
    padding: 0 20px 0 0
