<div class="hero-select-step">
<div class="label">
    Выберите класс героя:
  </div>
  <div class="select-box">
    <div *ngFor="let hero of heroList$ | async"
         [class.selected] = "(getSelectedHero$ | async)?.id === hero.id"
         class="select-item"
         (click)="selectHero(hero)"
    >
      <img class="hero-img" [src]="hero.img" alt="персонаж">
      <div>
        <div class="hero-type">
          {{ hero.type }}
        </div>
        <div class="hero-description">
          {{ hero.description }}
        </div>
      </div>
      <div>
        <div *ngFor="let effect of hero.effects | keyvalue">
          <span style="white-space: nowrap">{{ effect | getHeroEffectString }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
