<div>
  <p myColor>
    directive работа со стилями (применение стиля при помощи собственной директивы)
  </p>
  <div scroll class="scroll">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet at aut, commodi dolorem ducimus est
    excepturi id impedit nobis rem sint tenetur vel. Quas recusandae repellat sit. Aut consequatur debitis eius,
    eligendi magnam natus nemo numquam obcaecati quia quibusdam sunt ullam! Animi, asperiores aspernatur beatae dolorem
    doloremque dolores ducimus eos error eum exercitationem explicabo fuga fugit id ipsum maiores minus modi nam
    necessitatibus neque nesciunt nisi nobis obcaecati omnis perferendis quae quia quibusdam reiciendis, repellendus
    rerum sequi similique, sint sunt ullam ut veritatis vitae voluptate. Animi aspernatur corporis debitis esse hic id
    illum iste modi, optio quod ratione sequi sunt vel velit veniam veritatis vitae. Alias assumenda commodi culpa dolor
    excepturi, facere fugiat iste possimus quaerat rerum soluta unde? A accusantium aliquid blanditiis culpa debitis
    delectus doloremque excepturi hic ipsum minima modi molestias necessitatibus nesciunt possimus qui quisquam quos,
    suscipit tempora voluptas voluptates. Asperiores at, consequuntur dolores doloribus ea, eaque excepturi illo
    inventore nisi possimus repellat reprehenderit totam voluptate? Dignissimos incidunt, ipsam iure modi reprehenderit
    voluptas? Beatae delectus neque nihil, nobis quo temporibus? Dolore doloribus eos, est facere fugit id, ipsum itaque
    labore laudantium libero mollitia quia recusandae sed soluta tempore? Labore libero necessitatibus quis ullam.
    Commodi consectetur iusto laborum, non numquam provident quidem vitae voluptatum. Accusantium in laborum, maxime
    natus porro provident ratione suscipit voluptatem. Illum nemo odio, placeat recusandae velit voluptate. Asperiores
    consequatur dolor fugit molestias odio officia quae quis, rerum tempora? Aliquam aliquid animi at aut cum, debitis
    earum illo incidunt ipsa libero mollitia necessitatibus nisi, pariatur perferendis possimus saepe sit soluta vel
    veritatis voluptatum. Amet aperiam commodi deleniti dolores eius eos est eum facilis fugiat harum impedit in ipsa
    ipsam, libero, nesciunt, praesentium quam quas ratione suscipit voluptas. Accusamus asperiores delectus distinctio
    ducimus eaque enim error est odit! A aliquid, aut earum nihil officia quos sapiente sunt suscipit. Aspernatur culpa
    dolores officia recusandae sit voluptates? Ab accusantium assumenda blanditiis cum delectus earum eos eum fugiat,
    ipsam itaque laudantium maiores omnis quaerat quibusdam recusandae repellendus, reprehenderit sed sit suscipit
    temporibus tenetur veniam voluptatum? A at corporis, debitis dignissimos eius expedita libero magnam maiores maxime
    molestiae obcaecati, possimus quibusdam quidem quis quisquam ratione suscipit, temporibus ullam velit voluptatibus!
    A, aperiam commodi culpa laboriosam laborum modi necessitatibus odit optio possimus sed suscipit, ullam. A ad aut
    consequatur dicta dolores doloribus eaque eius error, expedita illum ipsam ipsum libero maiores, minus nihil quis
    quisquam rem repellat sit tempora ut!
  </div>
</div>
