@use "src/assets/mixin/mixin" as mixin;

.intro {
  @include mixin.scroll-padding;
  position: relative;
  padding-bottom: 80px;

  .intro-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: .7;
    position: absolute;
    background: url("../../../assets/img/intro.jpg") no-repeat;
  }


  .content {
    z-index: 1;
    position: relative;

    @include mixin.center-content;
  }

  .content-info {
    gap: 24px;
    display: flex;
  }

  .text {
    gap: 2px;
    flex: 5;
    color: var(--main);
    border: 1px dotted var(--primaryActive);
    padding: 8px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;

    .title {
      color: white;
      font-size: 48px;
    }

    div {
      color: black;
      padding: 4px;
      font-size: 24px;
      font-weight: 400;
      border-radius: 8px;
    }
  }

  .active {
    cursor: pointer;
    border: 1px solid var(--primaryActive);
    padding: 8px 24px;
    font-size: 20px;
    margin-top: 24px;
    font-weight: 300;
    border-radius: 12px;

    &:hover {
      background: var(--primaryBack);
    }

    &:active {
      color: white;
      background: var(--main);
    }
  }

  .img {
    flex: 2;
    border: 2px solid var(--primaryActive);
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
  }
}
