<div class="intro">
  <div class="intro-image"></div>
  <div class="content">
    <div class="content-info">
      <div class="text">
        <div class="title">
          Давайте знакомиться! Меня зовут Валерий
        </div>
        <div>
          Я сертифицированный мастер по массажу
        </div>
        <div>
          Использую в работе мануальную терапию, остеопатию и тейпирование
        </div>
        <div>
          Мой 27 летний опыт поможет подобрать для вас индивидуальный метод решения вашей ситуации
        </div>
        <div>
          Если вам нужен результат обращайтесь ко мне. Я вам помогу
        </div>
        <div>
          Слушайте свое тело и любите себя!
        </div>
      </div>
    </div>
    <button class="active">Записаться</button>
  </div>
</div>
